.slider{
  height: 100%;
}

.slider__container{
  position: relative;
  width: 100%;
  height: 100%;
}
.slider__container img{
  display: block;
  width: 100%;
  height: 100%;
}

.slider__container{
  overflow: hidden;
}

.slider__container-slides{
  display: flex;

}
.button-for-slider button{
  border: none;
  background: rgba(255, 255, 255, 0);
  width: 40px;
  height: 20px;
  color: aliceblue;
  font-size: 16pt;
}

.btn-left{
  position: absolute;
  right: 46%;
  top: 50%;
  z-index: 2;
}
.btn-right{
  position: absolute;
  right: 1%;
  top: 50%;
  z-index: 2;
}

.transform-smooth{
  transition: .9s all ease-in-out;
}