*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
:focus{
  outline: 2px solid black;
}

.body__main-content,
.body__slider-content{
  display: inline-flex;
}



.wrapper{
  display: flex;
  flex-direction: row-reverse;
}


.wrapper > div{
  flex-basis: 50%;
}


.wrapper__left-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}